/* font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif; */
/* https://coolors.co/fda87f-6a5510-6e7c2b-6d744b-85a2c6 */

/* Base Styles */
/* Mobile First */
body{
    text-align: center;
    font-size: 1em;
    margin: 10% 5% 0 5%;
    background-color:  #ffeee5;
}

h1{
    margin: 5%;
    font-family: 'Merriweather', serif;
    font-size: 1.7em;
    color: #6A5510;
}

h2{
    color: #6A5510; 
    font-size: 1em;  
}

h3{
    color: black;
    font-size: 1.2em;
}

p{
    margin-top: 0;
}


header img{
    max-width: 75%;
    border: .25em solid #6e7c2b;
}

.questions, .directions{
    font-family: 'Montserrat', sans-serif;
}

.q{
    margin: 20% 0;
}


.answer{
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
}

.option{
    border: .2em #6d744b solid;
    border-radius: 5em;
    /* adds rounded edges to the border */
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 3%;
    margin: 5%;
    font-size: .8em;
}

/* adding style for elements added when correct answer is clicked */
.response{
    display: grid;
    grid-template: repeat(1,1fr)/ repeat(1,1fr);
    grid-gap: 5%;
    font-size: 1.5em;
    /* color: #85Acc6; */
    align-items: center;
    justify-items: center;
}
/* adding style for elements added when correct answer is clicked */ */


footer{
    font-size: .9em;
}

footer img{
    width: 20%;
}

/* ------------------------- */

@media only screen and (min-width: 768px){
    h1{
        font-size: 3em;
    }
    h2{
        font-size: 1.3em;
    }

    h3{
        font-size: 1.3em;
    }
    h4{
        font-size: 1.3em;
    }

    p{
        font-size: .9em;
    }

   

    .option{
        font-size: 1.2em;
    }
    .q, .one{
        margin-top: 10%;

    }
    /* .q{
        margin-top: 15%;
        margin-bottom: 15%;
    } */
    footer{
        font-size: 1em;
    }
}

@media only screen and (min-width: 1200px){
    body{
        margin: 5% 15%;
    }
    h1{
        font-size: 4em;
    }

    h2{
        font-size: 1.5em;
    }
    h4{
        font-size: 1.2em;
    }
   .q, .one{
       margin-top: 7%
   }
   .option{
       padding-right: 0;
       padding-left: 0; 
   }
   .answer{
       margin: 0 10%;
   }
}