/* font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif; */
/* https://coolors.co/fda87f-6a5510-6e7c2b-6d744b-85a2c6 */

/* Base Styles */
/* Mobile First */
body{
    text-align: center;
    font-size: 1em;
    margin: 10% 5% 0 5%;
    background-color:  #ffeee5;
}

h1{
    margin: 5%;
    font-family: 'Merriweather', serif;
    font-size: 1.7em;
    color: #6A5510;
}

h2{
    color: #6A5510; 
    font-size: 1em;  
}

h3{
    color: black;
    font-size: 1.2em;
}

p{
    margin-top: 0;
}


header img{
    max-width: 75%;
    border: .25em solid #6e7c2b;
}

.questions, .directions{
    font-family: 'Montserrat', sans-serif;
}

.directions{
    margin-bottom: 20%;
}


.q{
    margin: 20% 0;
    display: none;
}

.start{
    border: .2em hsl(70, 21%, 37%) solid;
    border-radius: 5em;
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 3%;
    margin: 15%;
    font-size: 1.3em;
    
}


.answer{
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
}

.option{
    border: .2em #6d744b solid;
    border-radius: 5em;
    /* adds rounded edges to the border */
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 3%;
    margin: 5%;
    font-size: .8em;
}

.result{
    font-size:1.5em;
}

.resultQ{
    margin: 20%;
}

footer{
    font-size: .8em;
}

footer img{
    width: 20%;
    
}


/* ------------------------- */

@media only screen and (min-width: 768px){
    body{
        margin: 10% 15%  0 15%;
    }
    h1{
        font-size: 3em;
    }
    h2{
        font-size: 1.3em;
        margin: 10% 0 10% 0;
    }

    h3{
        font-size: 1.3em;
    }
    h4{
        font-size: 1.3em;
    }

    p{
        font-size: .9em;
    }
    
    .directions{
        margin: 0;
    }

   .start{
      margin:5% 30% 5% 30%;
   }

    .option{
        font-size: 1.2em;
    }
    .q, .one{
        margin-top: 10%;

    }
   .resultQ{
       margin: 7% 20% 10% 20%;
   }
    footer{
        font-size: 1em;
    }
    footer img{
        width: 9%;
    }
}

@media only screen and (min-width: 1200px){
    body{
        margin: 5% 15%;
    }
    h1{
        font-size: 4em;
    }

    h2{
        font-size: 1.5em;
        margin: 4% 15%;
    }
    h4{
        font-size: 1.2em;
    }
    .start{
        margin: 5% 35% 10% 35%;
        font-size: 1.8em;
    }
   
   .q, .one{
       margin-top: 7%
   }

   .q{
       margin: 7% 10% 5% 10%;
   }
   .option{
       padding-right: 0;
       padding-left: 0; 
   }
   .answer{
       margin: 0 10%;
   }
   .result{
        font-size: 2em;
   }
   foot img{
       width: 10%
   }
}